@charset "utf-8";
/* ------------------------------------全局定义---------------------------------------- */
/* 将具有默认margin和padding的标记置零，所有标记的margin、padding都在使用时具体定义 */
*{ margin:0;padding:0;}

/* 修正IE5.x和IE6的斜体溢出bug */
* html body{ overflow:visible;}
* html iframe, * html frame{ overflow:auto;}
* html frameset{ overflow:hidden;}

/* 常用标签，基本标签默认样式取消，HTML标签，取消基本标签默认样式，防止不同浏览器显示效果不同，text-align:center; 解决不同浏览器居中问题 */
body{ color:#000; background:#FFF; font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",宋体; text-align:center;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}

/* 设置内容左对齐，恢复因BODY设置剧中产生的继承 */
body div{ text-align:left;}

/* 标签属性，textarea,input 强制输入时内容超出时换行 */
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}

/* 清除ul列表标记的样式，ul列表更多的用在不需要列表前置符号的样式里 */
li{ list-style-type:none;}

/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{ border:0 none;}

/* 定义默认的链接样式，仅仅是作为默认样式提供，可以在各自的实例中覆盖掉 */
a:link, a:visited{ color:#04C; text-decoration:none;}
a:hover{ color:#F60; text-decoration:underline;}

/* 去掉链接的虚线框 */
a { outline:none; star:expression(this.onFocus=this.blur());}

/* 定义H系列标签，覆盖H系列标签默认属性 */
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;font-weight:400}
body{
    height:800px;
}

#btn-head{
    cursor: pointer;
}

#head-back{
    position: relative;
    height:80px;
    width:100%;
    background:url(../images/headback.jpg)no-repeat;
    background-size:cover;
}

.block1{
    height:80px;
    width:80%;
    float:left;
}

.head-backicon{
    position: absolute;
    top:5px;
    height:20px;
    width:20px;
}

#navbar{
    height:30px;
    background-color:rgb(227,228,229);
}

.container{
    height:30px;
    width:1000px;
    margin:0 auto;
}

#list1{
    float:right;
}

.gps{
    float:left;
    color:gray;
    height:30px;
    line-height:30px;
}

#list1 li{
    clear: both;
    list-style:none;
    display:inline-block;
    color:gray;
    height:30px;
    line-height:30px;
    margin:0 5px;
}

.gps{
    width:280px;
    background-color:rgb(227,228,229);
}

.gps li{
    border-left:1px solid lightgray;
    padding:0 12px;
    border-right:1px solid lightgray;
    display: none;
}

.gps-choice{
    padding-left:10px;
    width:60px;
    text-align: center;
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
    position: relative;
}

.gps>li span{
    margin:0 10px;
    height:34px;
    line-height:34px;
    cursor: pointer;
}


.gps-logo{
    height:16px;
    width:16px;
    position: absolute;
    top:7px;
    left:12px;
}

.active{
    background-color:red;
    color:#fff;
}








