@charset "utf-8";
/* ------------------------------------全局定义---------------------------------------- */
/* 将具有默认margin和padding的标记置零，所有标记的margin、padding都在使用时具体定义 */
*{ margin:0;padding:0;}

/* 修正IE5.x和IE6的斜体溢出bug */
* html body{ overflow:visible;}
* html iframe, * html frame{ overflow:auto;}
* html frameset{ overflow:hidden;}

/* 常用标签，基本标签默认样式取消，HTML标签，取消基本标签默认样式，防止不同浏览器显示效果不同，text-align:center; 解决不同浏览器居中问题 */
body{ color:#000; background:rgb(240,243,239); font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",宋体; text-align:center;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}

/* 设置内容左对齐，恢复因BODY设置剧中产生的继承 */
body div{ text-align:left;}

/* 标签属性，textarea,input 强制输入时内容超出时换行 */
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}

/* 清除ul列表标记的样式，ul列表更多的用在不需要列表前置符号的样式里 */
li{ list-style-type:none;}

/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{ border:0 none;}

/* 定义默认的链接样式，仅仅是作为默认样式提供，可以在各自的实例中覆盖掉 */
a:link, a:visited{ color:#04C; text-decoration:none;}
a:hover{ color:#F60; text-decoration:underline;}

/* 去掉链接的虚线框 */
a { outline:none; star:expression(this.onFocus=this.blur());}

/* 定义H系列标签，覆盖H系列标签默认属性 */
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;font-weight:400}
body{
    height:800px;
}

hr{
   opacity:0.3;
}

#btn-head{
    cursor: pointer;
}

#head-back{
    position: relative;
    height:80px;
    width:100%;
    background:url(../images/headback.jpg)no-repeat;
    background-size:cover;
}

.block1{
    height:80px;
    width:80%;
    float:left;
}

.head-backicon{
    position: absolute;
    top:5px;
    height:20px;
    width:20px;
}

#navbar{
    height:30px;
    background-color:rgb(227,228,229);
}

.container{
    width:1200px;
    height:1000px;
    margin:0 auto;
    position: relative;
}

#list1{
    float:right;
}

.gps{
    float:left;
    color:gray;
    height:30px;
    line-height:30px;
    z-index:9999;
    background-color:#fff;
}

#list1>li{
    clear: both;
    list-style:none;
    display:inline-block;
    color:gray;
    height:30px;
    line-height:30px;
}

#list1>li>h6{
    cursor:pointer;
}

.gps{
    width:280px;
    background-color:rgb(227,228,229);
    position: absolute;
    left:200px;
}

.gps li{
    border-left:.5px solid lightgray;
    padding:0 12px;
    border-right:.5px solid lightgray;
    background-color:#fff;
    display: none;
}

.gps-choice{
    padding-left:10px;
    width:60px;
    text-align: center;
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
    position: relative;
}

.gps>li span{
    margin:0 10px;
    width:50px;
    height:34px;
    line-height:34px;
    cursor: pointer;
}


.gps-logo{
    height:16px;
    width:16px;
    position: absolute;
    top:7px;
    left:12px;
}

.active{
    background-color:red;
    color:#fff;
}


.order li{
    border-left:.5px solid lightgray;
    border-right:.5px solid lightgray;
    margin-left:0;
    padding:0 20px;
}
.service li{
    border-left:.5px solid lightgray;
    border-right:.5px solid lightgray;
    margin-left:0;
    padding:0 20px;
}
.navigate>li{
    border-left:.5px solid lightgray;
    border-right:.5px solid lightgray;
    margin-left:0;
}
.phone{
    border-left:.5px solid lightgray;
    border-right:.5px solid lightgray;
    border-bottom:.5px solid lightgray;
}

.order>li>span{
    width:80px;
    display: inline-block;
    height:36px;
    line-height:36px;
}
.service>li>span{
    width:80px;
    display: inline-block;
    height:30px;
    line-height:30px;
}

.order-img{
    width:12px;
    position: absolute;
    left:60px;
    top:9px;
}
.service-img{
    width:12px;
    position: absolute;
    left:60px;
    top:9px;
}

#order-list{
    position: relative;
}
#service-list{
    position: relative;
}
#navigate-list{
    position: relative;
}
#phone-list{
    position: relative;
}

#order-list h6{
    position: relative;
}
#service-list h6{
    position: relative;
}
#navigate-list h6{
    position: relative;
}
#phone-list h6{
    position: relative;
}

.order{
    width:220px;
    position: absolute;
    top:30px;
}

.service{
    width:220px;
    position: absolute;
    top:30px;
}
.phone{
    width:180px;
    position: absolute;
    top:30px;
    left:-120px;
}

.navigate{
    width:1200px;
    position: absolute;
    top:30px;
    left:-1034px;
}

#order-list>h6{
    width:70px;
    padding-left:10px;
}
#service-list>h6{
    width:70px;
    padding-left:10px;
}
#navigate-list>h6{
    width:70px;
    padding-left:10px;
}
#phone-list>h6{
    width:70px;
    padding-left:10px;
}

.order-right{
    margin-left:18px;
}
.service-right{
    margin-left:18px;
}

.order>li>span:hover{
    color:red;
    cursor:pointer;
}


.service>li>span:hover{
    color:red;
    cursor:pointer;
}


.navigate-part>ul>li>span:hover{
    color:red;
    cursor:pointer;
}

.navigate-part>ul>li>p{
    font-weight:bold;
}

.service>li>p{
    font-weight:bold;
}

.order{
    display:none;
    background-color:#fff;
    z-index:999;
}

.service{
    display:none;
    background-color:#fff;
    z-index:999;
}

.navigate{
    display:none;
    background-color:#fff;
    z-index:999;
} 

.phone{
    display:none;
    background-color:#fff;
    z-index:999;
} 

.order-text{
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
}
.service-text{
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
}
.navigate-text{
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
}
.phone-text{
    border-left:.5px solid transparent;
    border-right:.5px solid transparent;
}

.navigate>li{
    width:1200px;
}

.navigate-part{
    display:inline-block;
}

.ng-ul{
    width: 296px;
    text-align: center;
}

.ng-ul>li>span{
    margin:20px;
}

.ph-left{
    width:80px;
    float:left;
}

.ph-right{
    width:90px;
    float:left;
    margin-left:10px;
}

.ph-left img{
    width:80px;
    height:80px;
}

.phone{
    padding:10px 10px 0 10px;
}

.phone li{
    height:100px;
    width:200px;
}

.phone-list{
    cursor: auto;
}

.ph-right img{
    height:30px;
    width:80px;
}

.ph-t1{
    height:20px;
    line-height:20px;
    font-weight:bold;
}

.ph-t2{
    color:red;
}


.main-left{
    width:200px;
    position: relative;
    float:left;
}

.main-right{
    width:1000px;
    float:right;
}

.img-logo{
    position: absolute;
    top:-30px;
    left:0px;
    width:200px;
}


.sh-input{
    position: relative;
    width:685px;
    float:left;
}

.sh-input input{
    margin-left:130px;
    margin-top:25px;
    height:30px;
    width:550px;
    font-size:16px;
    border:.5px solid transparent;
    outline:none;
}

.img-camera{
    height:30px;
    position: absolute;
    left:600px;
    top:25px;
    cursor:pointer;
}

.img-camera img{
    height:30px;
}


.img-search{
    height:30px;
    position: absolute;
    top:25px;
    left:640px;
    cursor:pointer;
}

.sh-car{
    float:left;
    width:190px;
    margin-left:30px;
    margin-top:25px;
    background-color:#fff;
    line-height:30px;
    height:30px;
    position:relative;
}

.sh-car img{
    height:16px;
    margin-left:45px;
    margin-top:6px;
    cursor:pointer;
}

.sh-t1{
    position: absolute;
    bottom:0px;
    left:65px;
    color:gray;
    cursor:pointer;
}

.sh-t2{
    position: absolute;
    right:49px;
    top:2px;
    height:16px;
    line-height:16px;
    width:14px;
    border-radius:10px;
    background-color:red;
    text-align: center;
}

.sh-qr{
    position: relative;
    width:66px;
    height:66px;
    float:right;
    padding:2px;
    border:.5px solid gray;
}

.sh-qr img{
    position: absolute;
    right:0;
    width:66px;
    height:66px;
}

.input-ul{
    margin-left:135px;
    margin-top:3px;
}

.input-ul li{
    display:inline-block;
    color:gray;
    cursor: pointer;
}

.input-ul li:hover{
    color:red;
}

 .bord{
     height:20px;
     border-right:1px solid lightgray;
     padding-right:10px;
 }

 .sh-line{
     margin-left:50px;
     margin-top:140px;
     width:1000px;
     height:30px;
 }

 .line li{
     display:inline-block;
     font-weight:800;
     font-size:15px;
     margin:0 5px;
     padding-right:10px;
 }

 .line li:hover{
     color:red;
     cursor:pointer;
 }

 #carousel{
     width:590px;
     height:470px;
     margin-left:10px;
     margin-top:10px;
     float:left;
 }

#threePage{
     margin-top:10px;
     margin-left:10px;
     width:190px;
     height:470px;
     float:left;
 }

#threePage img:hover{
    opacity:.8;
}

#login-in{
    margin-top:10px;
    margin-left:10px;
    width:190px;
    height:470px;
    float:right;
    background-color:#fff;
}






















